layout: index
description: Jason Hannanto Index.
subtitle: 
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Hello! Welcome to my Blog.
      p.intro-feature-desc This blog will mainly be used as a platform for me to post my reflections and solutions to certain computer science problems so that I (or others) can review them. Occasionally I might post something that's on my mind, who knows it's my first time blogging.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title About Me
      p.intro-feature-desc My name is Jason Hannanto. 
      p I'm a sophomore studying Computer Science (B.S) at the University of Southern California. Ever since taking my first computer science course, I've fallen in love with all the possibilities that computer science provides. I think it's amazing that you can learn a new theory, open up a laptop, and instantly create something new. I think that Web Apps will be the future of how we interact with the technologies of today. I'm excited at the speed and amount by which Web Development technologies are being developed and it's awesome when you find something new and interesting being released. On my off-time, I am a keyboardist at my church. One of my favorite hobbies is finding cool jazzy chord progressionss and fun synth lead solos. I'm also a big space geek, and I wish I lived in a time where you could just as easily travel to different planets as you could cities today.
  li.intro-feature-wrap
  
    h3 Fun Facts
    p Name: Jason Hannanto
    p Education: University of Southern California
    p Major: Computer Science (B.S)
    p Graduation Date: 2020
    p Languages: English, Indonesian
    p Movies: Any and all space movies with a good visual budget
    p Boba: Addicted
    p Dog: Brownie (Miniature Weiner Doggo)
    p Goals: Land an Internship, Create a Text-Based Adventure Game, level up Web Development skills.